<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.member.model.dao.MemberDao">
<!-- #8.2. @Mapper 인터페이스 지정 -->
	<insert id="memberEnroll">
		insert into 
			member
		values(
			#{memberId}, 
			#{password}, 
			#{name}, 
			#{gender}, 
			#{birthday}, 
			#{email}, 
			#{phone}, 
			#{address}, 
			#{hobby}, 
			default,
			null,
			default
		) 
	</insert>
 	<insert id="insertAuthority">
 		insert into
 			authority
 		values(
 			#{memberId}, 'ROLE_USER')
 	</insert>
 
 	<select id="selectOneMember" resultType="member">
 		select 
 			* 
 		from 
 			member 
 		where 
 			member_id = #{memberId}
 	</select>
 	
 	<update id="updateMember">
 		update
 			member
 		<set>
 			<if test="name != null">
	 			name = #{name},
 			</if>
 			<if test="birthday != null">
				birthday = #{birthday},
			</if>
 			<if test="email != null">
				email = #{email},
			</if>
 			<if test="phone != null">
				phone = #{phone},
			</if>
 			<if test="address != null">
				address = #{address},
			</if>
 			<if test="gender != null">
				gender = #{gender},
			</if>
 			<if test="hobby != null">
				hobby = #{hobby},
			</if>
				updated_at = sysdate
 		</set>
 		where
 			member_id = #{memberId}
 	</update>
</mapper>